@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);

body {
    margin: auto;
    background-color: #052F48;
    background-image: url('eiffelTowerBackground.jpg');
    background-repeat: no-repeat;
    background-position-y: 100px;
    background-size: 100%;
}

.header {
    position: absolute;
    top: 20px;
    left: 32px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    font-weight: 500;
}

.login {
    position: absolute;
    top: 15px;
    right: 16px;
    margin: auto;
}

.login input[type=text] {
    width: 246px;
    height: 35px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 2px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 6px;
    margin-top: 16px;
    margin-right: 16px;
}

.login input[type=password] {
    width: 246px;
    height: 35px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 2px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 6px;
    margin-top: 16px;
    margin-right: 16px;
}

.login input[type=button] {
    float: right;
    width: 100px;
    height: 35px;
    background: #fff;
    border: 1px solid #fff;
    cursor: pointer;
    border-radius: 2px;
    color: #a18d6c;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 6px;
    margin-top: 16px;
    margin-right: 16px;
}

.login input[type=button]:hover {
    opacity: 0.8;
}

.login input[type=button]:active {
    opacity: 0.6;
}

.login input[type=text]:focus {
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.8);
}

.login input[type=password]:focus {
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.8);
}

.login input[type=button]:focus {
    outline: none;
}